YoloV5TorchCpp/.vs/YoloV5TorchCpp/v16/*
YoloV5TorchCpp/.vs/*
YoloV5TorchCpp/x64/*
YoloV5TorchCpp/YoloV5TorchCpp/x64/*

YoloV5Torch/.vs/YoloV5Torch/v16/*
YoloV5Torch/.vs/*
YoloV5Torch/YoloV5Torch/bin/*
YoloV5Torch/YoloV5Torch/obj/*

YoloV5TorchTest/.vs/YoloV5TorchTest/v16/*
YoloV5TorchTest/.vs/*
YoloV5TorchTest/YoloV5TorchTest/bin/*
YoloV5TorchTest/YoloV5TorchTest/obj/*