YoloV5TorchCpp/.vs/YoloV5TorchCpp/v16/*
YoloV5TorchCpp/.vs/*
YoloV5TorchCpp/x64/*
YoloV5TorchCpp/YoloV5TorchCpp/x64/*

YoloV5Torch/.vs/YoloV5Torch/v16/*
YoloV5Torch/.vs/*
YoloV5Torch/YoloV5Torch/bin/*
YoloV5Torch/YoloV5Torch/obj/*